// variables

$primary-color: #2c3949;
$secondary-color: #0dccde;

$success-color: #10ac30;
$danger-color: #c40909;
$warning-color: rgb(228, 168, 30);

// LIGHT THEME
$light-bg-color: #eeeeee;
$light-color: #2c3949;
$light-link-color: #e85e08;

// DARK THEME
$dark-bg-color: #2c3949;
$dark-bg-color-hover: #56606d;
$dark-color: #eeeeee;
$dark-link-color: #e85e08;
