.main-content nav .cart-icon {
  height: 2em;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.main-content nav .cart-qty {
  position: absolute;
  padding: 0 10px;
  font-size: 1em;
  color: #fff;
  z-index: 2;
  background-color: red;
  border-radius: 1em;
  margin-top: -1em;
  margin-left: 1em;
}

@media screen and (min-width: 420px) {
  .main-content nav .cart-button-sm {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .main-content nav .cart-button-lg {
    display: none;
  }
}

.main-content .content {
  position: relative;
  width: 100vw;
}

.main-content .content .main-slide {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.main-content .content .main-slide .main-product {
  width: 40em;
}

@media screen and (max-width: 420px) {
  .main-content .content .main-slide :nth-child(1) {
    padding: 0.5em 0;
  }
  .main-content .content .main-slide .main-product {
    width: 25em;
  }
}

.main-content .content .card {
  width: 300px;
  margin-bottom: 4em;
  text-align: justify;
  border-radius: 1em;
  box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
}

.main-content .content .subscribe-cards {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.main-content .content .subscribe-cards .card {
  padding: 2em;
  height: 33em;
}

.main-content .content .subscribe-cards .card .image-product {
  max-width: 15em;
  max-height: 15em;
}

.main-content .content .filters {
  background-color: lightgray;
  padding: 3em;
}

.main-content .content .filters ul {
  list-style: none;
  padding: 0;
}

.main-content .content .filters ul .btn-filter-link {
  color: #000;
  text-decoration: none;
  width: 100%;
  margin-bottom: 1em;
  padding: 0;
}

.main-content .content .filters ul .btn-filter-link li {
  padding: 1em 0;
  background-color: #b1b1b1;
}

@media screen and (max-width: 420px) {
  .main-content .content {
    top: 3.5em;
  }
}

.product-modal .modal-body .product-image {
  max-width: 15em;
  max-height: 15em;
}

.product-modal .modal-body .rate-icon {
  width: 1em;
}

.notification-icon {
  width: 5em;
}
/*# sourceMappingURL=index.css.map */