.main-content {
  nav {
    .cart-icon {
      height: 2em;
      filter: invert(1);
    }
    .cart-qty {
      position: absolute;
      padding: 0 10px;
      font-size: 1em;
      color: #fff;
      z-index: 2;
      background-color: red;
      border-radius: 1em;
      margin-top: -1em;
      margin-left: 1em;
    }
    .cart-button-sm {
      @media screen and (min-width: 420px) {
        display: none;
      }
    }
    .cart-button-lg {
      @media screen and (max-width: 420px) {
        display: none;
      }
    }
  }

  .content {
    position: relative;
    width: 100vw;

    .main-slide {
      background-color: #4158d0;
      background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);

      .main-product {
        width: 40em;
      }

      @media screen and (max-width: 420px) {
        :nth-child(1) {
          padding: 0.5em 0;
        }

        .main-product {
          width: 25em;
        }
      }
    }

    .card {
      width: 300px;
      margin-bottom: 4em;
      text-align: justify;
      border-radius: 1em;
      box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 26px -16px rgba(0, 0, 0, 0.75);
    }

    .subscribe-cards {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;

      .card {
        padding: 2em;
        height: 33em;

        .image-product {
          max-width: 15em;
          max-height: 15em;
        }
      }
    }

    .filters {
      background-color: lightgray;
      padding: 3em;

      ul {
        list-style: none;
        padding: 0;

        .btn-filter-link {
          color: #000;
          text-decoration: none;
          width: 100%;
          margin-bottom: 1em;
          padding: 0;

          li {
            padding: 1em 0;
            background-color: #b1b1b1;
          }
        }
      }
    }

    @media screen and (max-width: 420px) {
      top: 3.5em;
    }
  }
}

.product-modal {
  .modal-body {
    .product-image {
      max-width: 15em;
      max-height: 15em;
    }
    .rate-icon {
      width: 1em;
    }
  }
}

.notification-icon {
  width: 5em;
}
